<template name="home">
    <div class="page home">

        {{>nav title='Local Market' black=true}}

        <div class="content-scrollable">
            <div class="bg-image home">
                <h1 class="title-home" style="text-align: center; color: #eeeeee">Tudo Gostosíssimo</h1>
            </div>
            <div class="list-recipes">
                <h2 class="list-title">Novas receitas</h2>


                {{#each featuredRecipes}}
                    {{> recipeItem recipe=this size='small'}}
                {{/each}}
            </div>
        </div>

    </div>
</template>