<template name="recipe">

  <div class="page recipe {{activeTabClass}}">
    {{#nav title='Receita' black=true back=true}}
    {{/nav}}

    <div class="image-recipe" style="background-image: url('{{recipeImage recipe=this size='full'}}')"></div>

    <div class="attribution-recipe js-uncollapse">
      <h1 class="title-recipe">{{title}}</h1>
      <div class="metadata-wrapper">
        <p class="description-recipe">{{excerpt}}</p>
        <span class="source">{{source.name}}</span>
        <span class="time">{{cookTime}}</span>
      </div>

      <div class="btns-group">
        <a class="btn-secondary {{#if isActiveTab 'make'}}active{{/if}} {{#if isActiveTab 'recipe'}}no-state{{/if}} js-show-feed"> Comentar </a>
      </div>
    </div>


    <div class="content-scrollable static-nav make-scrollable">

      <h2 class="list-title">Ingrediêntes</h2>
      <ul class="list-ingredients">
        {{#each ingredients}}
          <li class="item-ingredient">{{this}}</li>
        {{/each}}
      </ul>

      <h2 class="list-title">Passos</h2>
      <ol class="list-directions">
        {{#each directions}}
          <li class="item-direction">
            <span class="text">{{this}}</span>
          </li>
        {{/each}}
      </ol>
    </div>

    <div class="content-scrollable static-nav feed-scrollable">
      <div class="list-activities">
        {{#each activities}}
          {{> activity}}
        {{else}}
          <div class="wrapper-message">
            <div class="title-message"> Nenhum comentário ainda</div>

              <div>
                  <div style="padding-top: 45px; padding-bottom: 25px">
                      <input class="js-recipe-name" type="text"
                             style="display: block; background-color: #eeeeee; color: #333333; width: 100%"
                             placeholder="Seja o primeiro a comentar"/>
                      <button class="btn-primary"
                              style="text-align:center;display: block; width: 100%"> Comentar</button>
                  </div>
              </div>

          </div>
        {{/each}}
      </div>
    </div>
  </div>
</template>